In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.9.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame({
                     'name':["John","Alice", "Bob"],
                     'gender': ["M","F","M"],
                     'age': [45,50,23],
                   })

In [8]:
df

    name gender  age
0   John      M   45
1  Alice      F   50
2    Bob      M   23

In [9]:
df.describe()

             age
count   3.000000
mean   39.333333
std    14.364308
min    23.000000
25%    34.000000
50%    45.000000
75%    47.500000
max    50.000000

In [10]:
subSet = df[['name','age']]
subSet

    name  age
0   John   45
1  Alice   50
2    Bob   23

In [11]:
group = df.groupby(by ="gender").count()
group.head()

        name  age
gender
F          1    1
M          2    2